<%-include('navbar') %>
    <div class="container mx-auto  flex justify-center mt-8 mb-8">
        <div class="flex flex-col items-center text-center animate__animated animate__fadeInDown">
            <img class="w-16 md:w-32 mb-5" src="images/sms.png" alt="">
            <h1 class="text-3xl">เอกสารประกอบการประกันคุณภาพภายนอก รอบที่ 5 ของโรงเรียนสารสิทธิ์พิทยาลัย </h1>
            <h1 class="text-xl">สำนักงานเขตพื้นที่การศึกษาราชบุรี เขต2</h1>
        </div>

    </div>

    <div class="bg-gray-200 h-[1500px] pt-8">
        <div
            class="flex flex-col  sm:flex-row justify-center items-center gap-x-8 mb-8  animate__animated animate__fadeInUp">
            <!-- first container (ปฐมวัย) -->
            <div>
                <div class="bg-white drop-shadow-2xl rounded-lg flex items-center flex-col text-center p-6">
                    <img class="w-36 mb-3"
                        src="https://static.vecteezy.com/system/resources/previews/024/062/824/original/cute-little-children-boy-or-kids-cartoon-character-png.png"
                        alt="">
                    <div>
                        <h1 class="text-3xl">การศึกษาปฐมวัย</h1>
                        <h1 class="text-base">
                            เอกสารประกอบการประกันคุณภาพภายนอก รอบที่ 5 ของโรงเรียนสารสิทธิ์พิทยาลัย
                        </h1>
                        <h1 class="text-base">
                            การศึกษาปฐมวัย
                        </h1>
                    </div>
                </div>
                <div class="mt-3">
                    <a type="button" href="#first_page"
                        class="flex justify-center gap-x-1 bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 w-full cursor-pointer"
                        style="user-select: none;">
                        <svg class="w-6 h-6 text-white dark:text-white" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M12 6.03v13m0-13c-2.819-.831-4.715-1.076-8.029-1.023A.99.99 0 0 0 3 6v11c0 .563.466 1.014 1.03 1.007 3.122-.043 5.018.212 7.97 1.023m0-13c2.819-.831 4.715-1.076 8.029-1.023A.99.99 0 0 1 21 6v11c0 .563-.466 1.014-1.03 1.007-3.122-.043-5.018.212-7.97 1.023" />
                        </svg>
                        <span class="text-xl text-white">
                            การศึกษาปฐมวัย
                        </span>
                    </a>
                    <a type="button" href="/pdffile/guide_01.pdf"
                        class="flex justify-center gap-x-1 bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 w-full cursor-pointer"
                        style="user-select: none;">
                        <svg class="w-6 h-6 text-white dark:text-white" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M12 6.03v13m0-13c-2.819-.831-4.715-1.076-8.029-1.023A.99.99 0 0 0 3 6v11c0 .563.466 1.014 1.03 1.007 3.122-.043 5.018.212 7.97 1.023m0-13c2.819-.831 4.715-1.076 8.029-1.023A.99.99 0 0 1 21 6v11c0 .563-.466 1.014-1.03 1.007-3.122-.043-5.018.212-7.97 1.023" />
                        </svg>
                        <span class="text-sm md:text-lg text-white">
                            คู่มือกรอบแนวทางการประกันคุณภาพภายนอก ระดับการศึกษาปฐมวัย
                        </span>
                    </a>

                </div>

            </div>
            <!-- second container (การศึกษาขั้นพื้นฐาน)-->
            <div>
                <div class="bg-white drop-shadow-2xl rounded-lg flex items-center flex-col text-center p-6">
                    <img class="w-36 mb-3"
                        src=" https://static.vecteezy.com/system/resources/previews/011/155/585/original/cartoon-student-boy-happy-colorful-free-png.png"
                        alt="">
                    <div>
                        <h1 class="text-3xl">การศึกษาขั้นพื้นฐาน</h1>
                        <h1 class="text-base">
                            เอกสารประกอบการประกันคุณภาพภายนอก รอบที่ 5 ของโรงเรียนสารสิทธิ์พิทยาลัย
                        </h1>
                        <h1 class="text-base">
                            ระดับการศึกษาขั้นพื้นฐาน
                        </h1>
                    </div>
                </div>
                <div class="mt-3">
                    <a type="button" href="#second_page"
                        class="flex justify-center gap-x-1 bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 w-full cursor-pointer"
                        style="user-select: none;">
                        <svg class="w-6 h-6 text-white dark:text-white" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M12 6.03v13m0-13c-2.819-.831-4.715-1.076-8.029-1.023A.99.99 0 0 0 3 6v11c0 .563.466 1.014 1.03 1.007 3.122-.043 5.018.212 7.97 1.023m0-13c2.819-.831 4.715-1.076 8.029-1.023A.99.99 0 0 1 21 6v11c0 .563-.466 1.014-1.03 1.007-3.122-.043-5.018.212-7.97 1.023" />
                        </svg>
                        <span class="text-xl text-white">
                            การศึกษาขั้นพื้นฐาน
                        </span>
                    </a>
                    <a type="button" href="/pdffile/guide_02.pdf"
                        class="flex justify-center gap-x-1 bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 w-full cursor-pointer"
                        style="user-select: none;">
                        <svg class="w-6 h-6 text-white dark:text-white" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M12 6.03v13m0-13c-2.819-.831-4.715-1.076-8.029-1.023A.99.99 0 0 0 3 6v11c0 .563.466 1.014 1.03 1.007 3.122-.043 5.018.212 7.97 1.023m0-13c2.819-.831 4.715-1.076 8.029-1.023A.99.99 0 0 1 21 6v11c0 .563-.466 1.014-1.03 1.007-3.122-.043-5.018.212-7.97 1.023" />
                        </svg>
                        <span class="text-sm md:text-lg text-white">
                            คู่มือกรอบแนวทางการประกันคุณภาพภายนอก ระดับการศึกษาขั้นพื้นฐาน
                        </span>
                    </a>
                </div>

            </div>
        </div>
        <!-- เนื้อหา video แนะนำโรงเรียน -->
        <div class="bg-white container mx-auto p-2 rounded-lg"  data-aos="fade-up">
            <div class="mb-5 bg-gradient-to-r from-cyan-500 to-blue-500 w-full p-4 rounded-lg text-center">
                <h1 class="text-3xl text-white">VTR แนะนำโรงเรียนสารสิทธิ์พิทยาลัย</h1>
                <h3 class="text-lg text-white">VTR แนะนำโรงเรียนสารสิทธิ์พิทยาลัย ซึ่งมีรายละเอียด
                    บริบทของโรงเรียนประจำปีการศึกษา 2567</h3>
            </div>
            <video class="w-full h-auto max-w-full" controls>
                <source src="/videos/sj_video.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>

    </div>


    <!-- การศึกษษปฐมวัย -->
    <section id="first_page">
        <div class="flex flex-col  md:flex-row justify-center items-start mt-8 gap-y-5 p-8 md:gap-x-8"> 
            <!-- data-aos="zoom-in" -->
            <div class="text-blue-600 text-center" data-aos="fade-down">
                <h1 class="text-5xl mb-3">การศึกษาปฐมวัย</h1>
                <h3 class="text-2xl">เอกสารประกอบการประกันคุณภาพภายนอก ของโรงเรียนสารสิทธิ์พิทยาลัย การศึกษาปฐมวัย</h3>
            </div>

            <div data-aos="flip-up">
                <img class="w-[160px]"  src="https://thumb.ac-illust.com/1f/1f0cc5ce78768305e4ea272e1f8f8707_t.jpeg"
                    alt="">
            </div>
            
            <div data-aos="fade-down">
                <div class="accordion-wrapper w-120" >
                    <% let count_accordion = 0 %>
                    <%results.forEach((standard)=>{%>
                        <%if (standard.data_section == 1)  {%>
                            <%count_accordion++%>
                            <div class="accordion">

                                <input class="accordion-input" type="radio" name="radio-a" id="check<%=count_accordion%>">
                                <label class="accordion-label" for="check<%=count_accordion%>"><%=standard.standard%></label>
                                <div class="accordion-content">
                                    <ul class="slide_bar text-lg leading-relaxed">
                                        <%standard.indicator.forEach((indicators)=>{%>
                                                <div class="flex gap-x-2">
                                                    <li><%=indicators.indicator_key%></li>
                                                    <%if (session.token != undefined) {%>
                                                        <div class="flex gap-x-2">
                                                            <a href="/editcontent/indicators/<%=indicators.indicator_key%>/0/<%=standard.data_section%>"><i
                                                                    class="fa-solid fa-pen-to-square text-blue-600"></i></a>
                                                            <a href="/deletecontent"><i class="fa-solid fa-trash text-red-600"></i></a>
                                                        </div>
                                                    <%}%>
                                                </div>
                                        <%})%>
                                        <%if (session.token != undefined) {%>
                                            <form action="/additem" method="get">
                                                <button type="submit" class="focus:outline-none text-white bg-green-500 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                                                    <i class="fa-solid fa-plus"></i>
                                                    เพิ่มรายการ
                                                </button>                               
                                            </form>
                                        <%}%>
                                    </ul>
                                </div>
                            </div>
                        <%}%>
                    <%})%>
                </div>
            </div>
        </div>
    </section>

    <div class="bg-blue-600 py-4 px-4">
        <div class="bg-white text-blue-600  rounded-lg pt-8">
            <div class="text-center mb-2">
                <h1 class="text-5xl">มาตรฐานที่ ๑</h1>
                <h1 class="text-2xl">ผลลัพธ์คุณภาพของเด็กปฐมวัย</h1>
            </div>

            <div class="md:flex items-start gap-x-2 px-3 py-3 mb-8">

                <div class="border-solid border-2 border-gray-300  rounded-lg md:w-1/2 p-4 shadow-lg bg-gray-50"
                data-aos="zoom-in-up">
                    <!-- data-aos="fade-down-right" -->
                    <div class="mb-5 text-center">
                        <h1 class="text-4xl">VTR ประกอบการพิจารณา</h1>
                        <h1>มาตรฐานที่ 1ผลลัพธ์คุณภาพของเด็กปฐมวัย ตัวชี้วัดที่ 1.1 , ตัวชี้วัดที่ 1.2 , ตัวชี้วัดที่
                            1.3 , ตัวชี้วัดที่ 1.4 , ตัวชี้วัดที่ 1.5</h1>
                    </div>
                    <div>
                        <video class="w-full h-auto" controls>
                            <source src="/videos/sj_video.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>

                <div class="border-solid border-2 border-gray-300 rounded-lg md:w-1/2 p-4 shadow-lg bg-gray-50"
                data-aos="zoom-in-up">
                    <!-- data-aos="fade-down-left" -->
                    <h1 class="text-lg md:text-4xl text-center mb-3">ข้อมูลประกอบการพิจารณา</h1>
                    <div class="accordion-wrapper w-full">
                        <%results[0].indicator.forEach((indicators)=>{%>
                                <%count_accordion++%>
                                <div class="accordion">
                                    <input class="accordion-input" type="radio" name="radio-a" id="check<%=count_accordion%>">
                                    <label class="accordion-label" for="check<%=count_accordion%>"><%=indicators.indicator_key%></label>
                                        <div class="accordion-content">
                                            <ul class="slide_bar text-lg leading-relaxed">
                                                <% indicators.indicator_content.forEach((indicator_content,index)=>{%>
                                                    <div class="flex gap-x-2">
                                                        <li>
                                                            <%=indicator_content%>
                                                        </li>
                                                        <%if (session.token != undefined) {%>
                                                            <div class="flex gap-x-2">
                                                                <a href="/editcontent/indicator_content/<%=indicator_content%>/<%=index%>/1"><i
                                                                        class="fa-solid fa-pen-to-square text-blue-600"></i></a>
                                                                <a href="/deletecontent"><i class="fa-solid fa-trash text-red-600"></i></a>
                                                            </div>
                                                        <%}%>
                                                    </div>
                                                    
                                                <%})%>
                                                <%if (session.token != undefined) {%>
                                                    <form action="/additem" method="get">
                                                        <button type="submit" class="focus:outline-none text-white bg-green-500 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                                                            <i class="fa-solid fa-plus"></i>
                                                            เพิ่มรายการ
                                                        </button>                               
                                                    </form>
                                                <%}%>
                                            </ul>
                                        </div>              
                                </div>
                         <%})%>
                    </div>
                </div>
            </div>

            <!-- ภาพกิจกรรมที่เกิดจากการเรียนรู้ของนักเรียน -->
            <div class="container mx-auto mb-5"  data-aos="fade-down" >
                <div class="text-center">
                    <h1 class="text-3xl">ภาพกิจกรรมที่เกิดจากการเรียนรู้ของนักเรียน</h1>
                </div>
                <hr class="h-px my-4 bg-gray-200 border-0 dark:bg-gray-700">
                <div>
                    <div class="owl-carousel owl-carousel-1 owl-theme">
                        <div class="border-solid border-2 bg-gray-50 shadow-sm  border-gray-200  p-1 m-2 rounded-lg">
                            <img src="/images/01.jpg" alt="">
                        </div>
                        <div class="border-solid border-2 bg-gray-50 shadow-sm  border-gray-200  p-1 m-2 rounded-lg">
                            <img src="/images/02.jpg" alt="">
                        </div>
                        <div class="border-solid border-2 bg-gray-50 shadow-sm border-gray-200  p-1 m-2 rounded-lg">
                            <img src="/images/03.jpg" alt="">
                        </div>
                    </div>

                </div>
            </div>
            <div class="inline-flex items-center justify-center w-full">
                <hr class="w-1/2 h-1 my-8 bg-gray-200 border-0 dark:bg-gray-700">
                <span
                    class="absolute px-3 font-medium text-gray-900 -translate-x-1/2 bg-white left-1/2 dark:text-white dark:bg-gray-900">มาตรฐานที่
                    ๑ ผลลัพธ์คุณภาพของเด็กปฐมวัย</span>
            </div>
            <!-- มาตรฐาน2 -->
            <div class="text-center mb-2">
                <h1 class="text-5xl">มาตรฐานที่ ๒</h1>
                <h1 class="text-2xl">การบริหารจัดการสถานพัฒนาเด็กปฐมวัย</h1>
            </div>

            <div class="md:flex items-start gap-x-2 px-3 py-3 mb-8">

                <div class="border-solid border-2 border-gray-300  rounded-lg md:w-1/2 p-4 shadow-lg bg-gray-50"
                >
                <!-- data-aos="zoom-in-up" -->
                    <div class="mb-5">
                        <h1 class="text-4xl text-center mb-3">วิสัยทัศน์พันธกิจ และค่านิยมของสถานศึกษา</h1>
                        <li>วิสัยทัศน์(Dropdown!!)</li>
                        <li>ปรัชญา(Dropdown!!)</li>
                        <li>พันธกิจ(Dropdown!!)</li>
                    </div>
                    <div class="text-center text-xl md:text-4xl mb-3">
                        <h1>ภาพกิจกรรมในการบริหารจัดการสถานพัฒนาเด็กปฐมวัย</h1>
                    </div>
                    <div>
                        <div id="default-carousel" class="relative w-full" data-carousel="slide">
                            <!-- Carousel wrapper -->
                            <div class="relative h-96 overflow-hidden rounded-lg md:h-96">
                                <!-- Item 1 -->
                                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                                    <img src="/images/nature_01.jpg"
                                        class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                                        alt="..."loading="lazy" >
                                </div>
                                <!-- Item 2 -->
                                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                                    <img src="/images/nature_02.jpg"
                                        class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                                        alt="..." loading="lazy">
                                </div>
                                <!-- Item 3 -->
                                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                                    <img src="/images/nature_03.jpg"
                                        class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                                        alt="..." loading="lazy">
                                </div>
                            </div>
                            <!-- Slider indicators -->
                            <div
                                class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
                                <button type="button" class="w-3 h-3 rounded-full" aria-current="true"
                                    aria-label="Slide 1" data-carousel-slide-to="0"></button>
                                <button type="button" class="w-3 h-3 rounded-full" aria-current="false"
                                    aria-label="Slide 2" data-carousel-slide-to="1"></button>
                                <button type="button" class="w-3 h-3 rounded-full" aria-current="false"
                                    aria-label="Slide 3" data-carousel-slide-to="2"></button>
                                <button type="button" class="w-3 h-3 rounded-full" aria-current="false"
                                    aria-label="Slide 4" data-carousel-slide-to="3"></button>
                                <button type="button" class="w-3 h-3 rounded-full" aria-current="false"
                                    aria-label="Slide 5" data-carousel-slide-to="4"></button>
                            </div>
                            <!-- Slider controls -->
                            <button type="button"
                                class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
                                data-carousel-prev>
                                <span
                                    class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                                    <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true"
                                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="2" d="M5 1 1 5l4 4" />
                                    </svg>
                                    <span class="sr-only">Previous</span>
                                </span>
                            </button>
                            <button type="button"
                                class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
                                data-carousel-next>
                                <span
                                    class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                                    <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true"
                                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="2" d="m1 9 4-4-4-4" />
                                    </svg>
                                    <span class="sr-only">Next</span>
                                </span>
                            </button>
                        </div>

                    </div>
                </div>

                <div class="border-solid border-2 border-gray-300 rounded-lg md:w-1/2 p-4 shadow-lg bg-gray-50"
                data-aos="zoom-in-up">
 
                    <h1 class="text-lg md:text-4xl text-center mb-3">ข้อมูลประกอบการพิจารณา</h1>
                    <div class="accordion-wrapper w-full">

                        <%results[1].indicator.forEach((indicators)=>{%>
                            <%count_accordion++%>
                            <div class="accordion">
                                <input class="accordion-input" type="radio" name="radio-a" id="check<%=count_accordion%>">
                                <label class="accordion-label" for="check<%=count_accordion%>">
                                    <%=indicators.indicator_key%>
                                </label>
                                <div class="accordion-content">
                                     <ul class="slide_bar text-lg leading-relaxed">
                                        <% indicators.indicator_content.forEach((indicator_content,index)=>{%>
                                            <div class="flex gap-x-2">
                                                <li>
                                                    <%=indicator_content%>
                                                </li>
                                                <%if (session.token != undefined) {%>
                                                    <div class="flex gap-x-2">
                                                        <a href="/editcontent/indicator_content/<%=indicator_content%>/<%=index%>/1"><i
                                                                class="fa-solid fa-pen-to-square text-blue-600"></i></a>
                                                        <a href="/deletecontent"><i class="fa-solid fa-trash text-red-600"></i></a>
                                                    </div>
                                                <%}%>
                                            </div>
                                        <%})%>
                                        <%if (session.token != undefined) {%>
                                            <form action="/additem" method="get">
                                                <button type="submit" class="focus:outline-none text-white bg-green-500 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                                                    <i class="fa-solid fa-plus"></i>
                                                    เพิ่มรายการ
                                                </button>                               
                                            </form>
                                          <%}%>
                                    </ul>

                                </div>
                            </div>
                        <%})%>
                    </div>
                </div>
            </div>
            <div class="inline-flex items-center justify-center w-full">
                <hr class="w-1/2 h-1 my-8 bg-gray-200 border-0 dark:bg-gray-700">
                <span
                    class="absolute px-3 font-medium text-gray-900 -translate-x-1/2 bg-white left-1/2 dark:text-white dark:bg-gray-900">มาตรฐานที่
                    ๒ การบริหารจัดการสถานพัฒนาเด็กปฐมวัย</span>
            </div>


            <!-- มาตรฐาน ๓ -->
            <div class="text-center mb-2">
                <h1 class="text-5xl">มาตรฐานที่ ๓</h1>
                <h1 class="text-2xl">การพัฒนาคุณภาพการจัดประสบการณ์เรียนรู้เด็กปฐมวัย</h1>
            </div>

            <div class="md:flex items-start gap-x-2 px-3 py-3 mb-8" >
                <div class="border-solid border-2 border-gray-300 rounded-lg md:w-1/2 p-4 shadow-lg bg-gray-50" data-aos="fade-down">
                    <!-- data-aos="fade-up-right" -->
                    <h1 class="text-lg md:text-4xl text-center">ภาพกิจกรรมประกอบการพิจารณา</h1>
                    <!-- carousel -->
                    <div class="owl-carousel owl-carousel-2 owl-theme">
                        <div class="h-full md:h-650 w-full">
                            <img class="h-full w-full object-contain" src="/images/corousel_1.png" alt="">
                        </div>
                        <div class="h-full md:h-650 w-full">
                            <img class="h-full w-full object-contain" src="/images/corousel_2.png" alt="">
                        </div>
                    </div>
                </div>



                <div class="border-solid border-2 border-gray-300 rounded-lg md:w-1/2 p-4 shadow-lg bg-gray-50" data-aos="fade-down" >
                    <!-- data-aos="fade-up-left" -->
                    <h1 class="text-lg md:text-4xl text-center mb-3">ข้อมูลประกอบการพิจารณา</h1>
                    <div class="accordion-wrapper w-full">

                        <%results[2].indicator.forEach((indicators)=>{%>
                            <%count_accordion++%>
                            <div class="accordion">
                                <input class="accordion-input" type="radio" name="radio-a" id="check<%=count_accordion%>">
                                <label class="accordion-label" for="check<%=count_accordion%>">
                                    <%=indicators.indicator_key%>
                                </label>
                                <div class="accordion-content">
                                    <ul class="slide_bar text-lg leading-relaxed">
                                        <% indicators.indicator_content.forEach((indicator_content,index)=>{%>
                                            <div class="flex gap-x-2">
                                                <li>
                                                    <%=indicator_content%>
                                                </li>
                                                <%if (session.token != undefined) {%>
                                                    <div class="flex gap-x-2">
                                                        <a href="/editcontent/indicator_content/<%=indicator_content%>/<%=index%>/1"><i
                                                                class="fa-solid fa-pen-to-square text-blue-600"></i></a>
                                                        <a href="/deletecontent"><i class="fa-solid fa-trash text-red-600"></i></a>
                                                    </div>
                                                <%}%>
                                            </div>
                                        <%})%>
                                        <%if (session.token != undefined) {%>
                                            <form action="/additem" method="get">
                                                <button type="submit" class="focus:outline-none text-white bg-green-500 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                                                    <i class="fa-solid fa-plus"></i>
                                                    เพิ่มรายการ
                                                </button>                               
                                            </form>
                                          <%}%>
                                    </ul>
                                </div>
                            </div>
                        <%})%>


                    </div>
                </div>
            </div>
            <div class="px-3 py-3 mb-8">
                <div class="border-2 border-gray-200 text-center pt-4">
                    <h1 class="text-2xl mb-5">ผลที่เกิดจากการเรียนรู้ของนักเรียน</h1>

                    <div class="md:flex md:justify-center">
                        <div class="grid grid-cols-1 gap-5  md:grid-cols-4 md:gap-12" > 
                            <!-- data-aos="fade-down" -->
                            <!-- cards -->
                            <div
                                class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                                <a href="#">
                                    <img class="rounded-t-lg" src="/images/certificate01.png" alt="" />
                                </a>
                                <div class="p-5">
                                    <a href="#">
                                        <h5
                                            class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                                            Certificate</h5>
                                    </a>
                                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                                        แฟ้มสะสมผลงานผู้เรียน (Portfolio)​
                                    </p>
                                </div>
                            </div>

                            <div
                                class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                                <a href="#">
                                    <img class="rounded-t-lg" src="/images/certificate01.png" alt="" />
                                </a>
                                <div class="p-5">
                                    <a href="#">
                                        <h5
                                            class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                                            Certificate</h5>
                                    </a>
                                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">เกียรติบัตร.....</p>
                                </div>
                            </div>
                            <div
                                class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                                <a href="#">
                                    <img class="rounded-t-lg" src="/images/certificate01.png" alt="" />
                                </a>
                                <div class="p-5">
                                    <a href="#">
                                        <h5
                                            class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                                            Certificate</h5>
                                    </a>
                                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">เกียรติบัตร.....</p>
                                </div>
                            </div>
                            <div
                                class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                                <a href="#">
                                    <img class="rounded-t-lg" src="/images/certificate01.png" alt="" />
                                </a>
                                <div class="p-5">
                                    <a href="#">
                                        <h5
                                            class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                                            Certificate</h5>
                                    </a>
                                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">เกียรติบัตร.....</p>
                                </div>
                            </div>

                            <div
                                class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                                <a href="#">
                                    <img class="rounded-t-lg" src="/images/certificate01.png" alt="" />
                                </a>
                                <div class="p-5">
                                    <a href="#">
                                        <h5
                                            class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                                            Certificate</h5>
                                    </a>
                                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">เกียรติบัตร.....</p>
                                </div>
                            </div>

                            <div
                                class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                                <a href="#">
                                    <img class="rounded-t-lg" src="/images/certificate01.png" alt="" />
                                </a>
                                <div class="p-5">
                                    <a href="#">
                                        <h5
                                            class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                                            Certificate</h5>
                                    </a>
                                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">เกียรติบัตร.....</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <section id="second_page">
        <div class="flex   items-start flex-col md:flex-row justify-center  mt-8 gap-y-5 p-8 md:gap-x-8"
            >
            <!-- data-aos="zoom-in" -->
            <div class="text-blue-600 text-center" data-aos="fade-down">
                <h1 class="text-5xl mb-3">การศึกษาขั้นพื้นฐาน</h1>
                <h3 class="text-2xl">เอกสารประกอบการประกันคุณภาพภายนอก รอบที่ 5 ของโรงเรียนสารสิทธิ์พิทยาลัย
                    ระดับการศึกษาขั้นพื้นฐาน</h3>
            </div>
            <div>
                <img class="w-[160px]"
                    src="https://th.bing.com/th/id/R.b6a4a72005e212207d54674d5b73044a?rik=dJIsSGm2f4bJvQ&riu=http%3a%2f%2fclipart-library.com%2fimages_k%2fboy-transparent%2fboy-transparent-1.png&ehk=l33zadxQoI%2fgylaL3FdT%2fle%2f4jq9SwGE3oCzYgkHbEo%3d&risl=&pid=ImgRaw&r=0"
                    alt="" data-aos="flip-up">
            </div>
            <div>
                <div class="accordion-wrapper w-full" data-aos="flip-up">
                    <%results.forEach((standard)=>{%>
                        <%count_accordion++%>
                        <%if (standard.data_section == 2)  {%>
                            <%count_accordion++%>
                            <div class="accordion">
                                <input class="accordion-input" type="radio" name="radio-a" id="check<%=count_accordion%>">
                                <label class="accordion-label" for="check<%=count_accordion%>"><%=standard.standard%></label>
                                <div class="accordion-content">
                                    <ul class="slide_bar text-lg leading-relaxed">
                                        <%standard.indicator.forEach((indicators)=>{%>
                                            
                                            <div class="flex gap-x-2">
                                                <li><%=indicators.indicator_key%></li>
                                                <%if (session.token != undefined) {%>
                                                    <div class="flex gap-x-2">
                                                        <a href="/editcontent/indicators/<%=indicators.indicator_key%>/0/<%=standard.data_section%>"><i
                                                                class="fa-solid fa-pen-to-square text-blue-600"></i></a>
                                                        <a href="/deletecontent"><i class="fa-solid fa-trash text-red-600"></i></a>
                                                    </div>
                                                <%}%>
                                            </div>
                                     <%})%>
                                     <%if (session.token != undefined) {%>
                                        <form action="/additem" method="get">
                                            <button type="submit" class="focus:outline-none text-white bg-green-500 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                                                <i class="fa-solid fa-plus"></i>
                                                เพิ่มรายการ
                                            </button>                               
                                        </form>
                                      <%}%>
                                    </ul>
                                </div>
                            </div>
                        <%}%>
                    <%})%>
                </div>
            </div>
    </section>

    <div class="py-4 px-4" style="background: linear-gradient(to right, #3b82f6, #3b82f6, #1e40af);">
        <div class="bg-white text-blue-600  rounded-lg pt-8">
            <div class="text-center mb-2">
                <h1 class="text-5xl">มาตรฐานที่ ๑</h1>
                <h1 class="text-2xl">รางวัลต่าง ๆ ของผู้เรียน</h1>
            </div>

            <div class="md:flex items-start gap-x-2 px-3 py-3 mb-8">
                <div class="border-solid border-2 border-gray-300 rounded-lg md:w-1/2 p-4 shadow-lg bg-gray-50" data-aos="zoom-in-up">
                    <h1 class="text-lg md:text-4xl text-center">ภาพกิจกรรมประกอบการพิจารณา</h1>
                    <!-- carousel -->
                    <div class="owl-carousel owl-carousel-2 owl-theme">
                        <div class="h-full md:h-650 w-full">
                            <img class="h-full w-full object-contain" src="/images/corousel_1.png" alt="">
                        </div>
                        <div class="h-full md:h-650 w-full">
                            <img class="h-full w-full object-contain" src="/images/corousel_2.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="border-solid border-2 border-gray-300 rounded-lg md:w-1/2 p-4 shadow-lg bg-gray-50" data-aos="zoom-in-up">
                    <h1 class="text-lg md:text-4xl text-center mb-3">ข้อมูลประกอบการพิจารณา</h1>
                    <div class="accordion-wrapper w-full">
                        <%results[3].indicator.forEach((indicators)=>{%>
                            <%count_accordion++%>
                            <div class="accordion">
                                <input class="accordion-input" type="radio" name="radio-a" id="check<%=count_accordion%>">
                                <label class="accordion-label" for="check<%=count_accordion%>">
                                    <%=indicators.indicator_key%>
                                </label>
                                <div class="accordion-content">
                                    <ul class="slide_bar text-lg leading-relaxed">
                                        <% indicators.indicator_content.forEach((indicator_content,index)=>{%>
                                            <div class="flex gap-x-2">
                                                <li>
                                                    <%=indicator_content%>
                                                </li>
                                                <%if (session.token != undefined) {%>
                                                    <div class="flex gap-x-2">
                                                        <a href="/editcontent/indicator_content/<%=indicator_content%>/<%=index%>/2"><i
                                                                class="fa-solid fa-pen-to-square text-blue-600"></i></a>
                                                        <a href="/deletecontent"><i class="fa-solid fa-trash text-red-600"></i></a>
                                                    </div>
                                                <%}%>
                                            </div>
                                        <%})%>
                                        <%if (session.token != undefined) {%>
                                            <form action="/additem" method="get">
                                                <button type="submit" class="focus:outline-none text-white bg-green-500 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                                                    <i class="fa-solid fa-plus"></i>
                                                    เพิ่มรายการ
                                                </button>                               
                                            </form>
                                        <%}%>
                                    </ul>
                                </div>
                            </div>
                        <%})%>
                    </div>
                </div>

            </div>
            <div class="text-center text-xl mb-5">
                แฟ้มสะสมผลงานผู้เรียน (Portfolio)
            </div>
            <div class="md:flex md:justify-center">
                <div class="grid grid-cols-1 gap-5 md:grid-cols-4 md:gap-12 mb-8" data-aos="fade-down" >
                    <!-- data-aos="fade-down" -->
                    <div class="max-w-sm rounded overflow-hidden shadow-lg">
                        <img class="w-full"
                            src="https://watermark.lovepik.com/photo/20211130/large/lovepik-pupils-teaching-outside-to-play-picture_501290020.jpg"
                            alt="Sunset in the mountains">
                        <div class="px-6 py-4">
                            <div class="font-bold text-xl mb-2">กลุ่มสาระวิทยาศาสตร์และเทคโนโลยี</div>
                            <div class="text-gray-700">
                                <p class="">แฟ้มสะสมผลงานผู้เรียน (Portfolio)</p>
                                <ul class="slide_bar text-base">
                                    <li>test</li>
                                    <li>test</li>
                                </ul>
                            </div>

                        </div>
                    </div>

                    <div class="max-w-sm rounded overflow-hidden shadow-lg">
                        <img class="w-full"
                            src="https://watermark.lovepik.com/photo/20211130/large/lovepik-pupils-teaching-outside-to-play-picture_501290020.jpg"
                            alt="Sunset in the mountains">
                        <div class="px-6 py-4">
                            <div class="font-bold text-xl mb-2">กลุ่มสาระภาษาต่างประเทศ</div>
                            <div class="text-gray-700">
                                <p class="">แฟ้มสะสมผลงานผู้เรียน (Portfolio)</p>
                                <ul class="slide_bar text-base">
                                    <li>test</li>
                                    <li>test</li>
                                </ul>
                            </div>

                        </div>
                    </div>

                    <div class="max-w-sm rounded overflow-hidden shadow-lg">
                        <img class="w-full"
                            src="https://watermark.lovepik.com/photo/20211130/large/lovepik-pupils-teaching-outside-to-play-picture_501290020.jpg"
                            alt="Sunset in the mountains">
                        <div class="px-6 py-4">
                            <div class="font-bold text-xl mb-2">กลุ่มสาระภาษาไทย</div>
                            <div class="text-gray-700">
                                <p class="">แฟ้มสะสมผลงานผู้เรียน (Portfolio)</p>
                                <ul class="slide_bar text-base">
                                    <li>test</li>
                                    <li>test</li>
                                </ul>
                            </div>

                        </div>
                    </div>

                    <div class="max-w-sm rounded overflow-hidden shadow-lg">
                        <img class="w-full"
                            src="https://watermark.lovepik.com/photo/20211130/large/lovepik-pupils-teaching-outside-to-play-picture_501290020.jpg"
                            alt="Sunset in the mountains">
                        <div class="px-6 py-4">
                            <div class="font-bold text-xl mb-2">กลุ่มสาระคณิตศาสตร์</div>
                            <div class="text-gray-700">
                                <p class="">แฟ้มสะสมผลงานผู้เรียน (Portfolio)</p>
                                <ul class="slide_bar text-base">
                                    <li>test</li>
                                    <li>test</li>
                                </ul>
                            </div>

                        </div>
                    </div>

                    <div class="max-w-sm rounded overflow-hidden shadow-lg">
                        <img class="w-full"
                            src="https://watermark.lovepik.com/photo/20211130/large/lovepik-pupils-teaching-outside-to-play-picture_501290020.jpg"
                            alt="Sunset in the mountains">
                        <div class="px-6 py-4">
                            <div class="font-bold text-xl mb-2">กลุ่มสาระการงานอาชีพ</div>
                            <div class="text-gray-700">
                                <p class="">แฟ้มสะสมผลงานผู้เรียน (Portfolio)</p>
                                <ul class="slide_bar text-base">
                                    <li>test</li>
                                    <li>test</li>
                                </ul>
                            </div>

                        </div>
                    </div>

                    <div class="max-w-sm rounded overflow-hidden shadow-lg">
                        <img class="w-full"
                            src="https://watermark.lovepik.com/photo/20211130/large/lovepik-pupils-teaching-outside-to-play-picture_501290020.jpg"
                            alt="Sunset in the mountains">
                        <div class="px-6 py-4">
                            <div class="font-bold text-xl mb-2">กลุ่มสาระสุขศึกษาและพลศึกษา</div>
                            <div class="text-gray-700">
                                <p class="">แฟ้มสะสมผลงานผู้เรียน (Portfolio)</p>
                                <ul class="slide_bar text-base">
                                    <li>test</li>
                                    <li>test</li>
                                </ul>
                            </div>

                        </div>
                    </div>

                    <div class="max-w-sm rounded overflow-hidden shadow-lg">
                        <img class="w-full"
                            src="https://watermark.lovepik.com/photo/20211130/large/lovepik-pupils-teaching-outside-to-play-picture_501290020.jpg"
                            alt="Sunset in the mountains">
                        <div class="px-6 py-4">
                            <div class="font-bold text-xl mb-2">กลุ่มสาระสังคมศึกษา ศาสนาและวัฒนธรรม</div>
                            <div class="text-gray-700">
                                <p class="">แฟ้มสะสมผลงานผู้เรียน (Portfolio)</p>
                                <ul class="slide_bar text-base">
                                    <li>test</li>
                                    <li>test</li>
                                </ul>
                            </div>

                        </div>
                    </div>

                    <div class="max-w-sm rounded overflow-hidden shadow-lg">
                        <img class="w-full"
                            src="https://watermark.lovepik.com/photo/20211130/large/lovepik-pupils-teaching-outside-to-play-picture_501290020.jpg"
                            alt="Sunset in the mountains">
                        <div class="px-6 py-4">
                            <div class="font-bold text-xl mb-2">กลุ่มสาระดนตรี</div>
                            <div class="text-gray-700">
                                <p class="">แฟ้มสะสมผลงานผู้เรียน (Portfolio)</p>
                                <ul class="slide_bar text-base">
                                    <li>test</li>
                                    <li>test</li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="text-center mb-2">
                <h1 class="text-5xl">มาตรฐานที่ ๒</h1>
                <h1 class="text-2xl">การพัฒนาคุณภาพการบริหารจัดการสถานศึกษา</h1>
            </div>

            <div class="md:flex items-start gap-x-2 px-3 py-3 mb-8">
                <div class="border-solid border-2 border-gray-300 rounded-lg md:w-1/2 p-4 shadow-lg bg-gray-50" data-aos="fade-down">
                    <h1 class="text-xl text-center mb-5">วิสัยทัศน์พันธกิจ และค่านิยมของสถานศึกษา</h1>
                    <li>วิสัยทัศน์(DropDown!!!)</li>
                    <li>ปรัชญา(Dropdown!!!)</li>
                    <li>พันธกิจ(Dropdown!!!)</li>
                    <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
                    <h1 class="text-center text-xl mb-8">ภาพกิจกรรมการใช้ สื่อ
                        ที่ครูผลิตขึ้นเพื่อสนับสนุนการจัดการศึกษาของสถานศึกษา</h1>
                    <!-- carousel -->
                    <div class="owl-carousel owl-carousel-2 owl-theme">
                        <div class="h-full md:h-650 w-full">
                            <img class="h-full w-full object-contain" src="/images/corousel_1.png" alt="">
                        </div>
                        <div class="h-full md:h-650 w-full">
                            <img class="h-full w-full object-contain" src="/images/corousel_2.png" alt="">
                        </div>
                    </div>
                    <!----------------------- -->
                </div>
                <div class="border-solid border-2 border-gray-300 rounded-lg md:w-1/2 p-4 shadow-lg bg-gray-50" data-aos="fade-down">
                    <h1 class="text-lg md:text-4xl text-center mb-3">ข้อมูลประกอบการพิจารณา</h1>
                    <div class="accordion-wrapper w-full">
                        <%results[4].indicator.forEach((indicators)=>{%>
                            <%count_accordion++%>
                            <div class="accordion">
                                <input class="accordion-input" type="radio" name="radio-a" id="check<%=count_accordion%>">
                                <label class="accordion-label" for="check<%=count_accordion%>">
                                    <%=indicators.indicator_key%>
                                </label>
                                <div class="accordion-content">
                                    <ul class="slide_bar text-lg leading-relaxed">
                                        <% indicators.indicator_content.forEach((indicator_content,index)=>{%>
                                            <div class="flex gap-x-2">
                                                <li>
                                                    <%=indicator_content%>
                                                </li>
                                                <%if (session.token != undefined) {%>
                                                    <div class="flex gap-x-2">
                                                        <a href="/editcontent/indicator_content/<%=indicator_content%>/<%=index%>/2"><i
                                                                class="fa-solid fa-pen-to-square text-blue-600"></i></a>
                                                        <a href="/deletecontent"><i class="fa-solid fa-trash text-red-600"></i></a>
                                                    </div>
                                                <%}%>
                                            </div>
                                        <%})%>
                                        <%if (session.token != undefined) {%>
                                            <form action="/additem" method="get">
                                                <button type="submit" class="focus:outline-none text-white bg-green-500 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                                                    <i class="fa-solid fa-plus"></i>
                                                    เพิ่มรายการ
                                                </button>                               
                                            </form>
                                        <%}%>
                                    </ul>

                                </div>
                            </div>
                            <%})%>

                    </div>
                </div>
            </div>
            <!-- มาตรฐาน3 -->
            <div class="text-center mb-2">
                <h1 class="text-5xl">มาตรฐานที่ ๓</h1>
                <h1 class="text-2xl">การพัฒนาคุณภาพการจัดการเรียนรู้</h1>
            </div>

            <div class="md:flex items-start  gap-x-2 px-3 py-3 mb-8"  data-aos="fade-down">

                <div class="border-solid border-2 border-gray-300 rounded-lg md:w-1/2 p-4 shadow-lg bg-gray-50"  >
                    <h1 class="text-lg md:text-2xl text-center">เกียรติบัตร รางวัลต่างๆ</h1>
                    <!-- carousel -->
                    <div class="owl-carousel owl-carousel-2 owl-theme">
                        <div class="h-full md:h-650 w-full">
                            <img class="h-full w-full object-contain" src="/images/corousel_1.png" alt="">
                        </div>
                        <div class="h-full md:h-650 w-full">
                            <img class="h-full w-full object-contain" src="/images/corousel_2.png" alt="">
                        </div>
                    </div>
                </div>



                <div class="border-solid border-2 border-gray-300 rounded-lg md:w-1/2 p-4 shadow-lg bg-gray-50">
                    <h1 class="text-lg md:text-4xl text-center mb-3">ข้อมูลประกอบการพิจารณา</h1>
                    <div class="accordion-wrapper w-full">
                        <%results[5].indicator.forEach((indicators)=>{%>
                            <%count_accordion++%>
                            <div class="accordion">
                                <input class="accordion-input" type="radio" name="radio-a" id="check<%=count_accordion%>">
                                <label class="accordion-label" for="check<%=count_accordion%>">
                                    <%=indicators.indicator_key%>
                                </label>
                                <div class="accordion-content">

                                    <ul class="slide_bar text-lg leading-relaxed">
                                        <% indicators.indicator_content.forEach((indicator_content,index)=>{%>
                                            <div class="flex gap-x-2">
                                                <li>
                                                    <%=indicator_content%>
                                                </li>
                                                <%if (session.token != undefined) {%>
                                                    <div class="flex gap-x-2">
                                                        <a href="/editcontent/indicator_content/<%=indicator_content%>/<%=index%>/2"><i
                                                                class="fa-solid fa-pen-to-square text-blue-600"></i></a>
                                                        <a href="/deletecontent"><i class="fa-solid fa-trash text-red-600"></i></a>
                                                    </div>
                                                <%}%>
                                            </div>
                                        <%})%>
                                        <%if (session.token != undefined) {%>
                                            <form action="/additem" method="get">
                                                <button type="submit" class="focus:outline-none text-white bg-green-500 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                                                    <i class="fa-solid fa-plus"></i>
                                                    เพิ่มรายการ
                                                </button>                               
                                            </form>
                                        <%}%>
                                    </ul>

                                </div>
                            </div>
                        <%})%>

                    </div>
                </div>
            </div>


            <%-include('footer') %>